# Log settings
import logging

# Logger
logger = logging.getLogger()
logger.setLevel(logging.INFO)

# Slack settings

# Create token https://api.slack.com/docs/oauth-test-tokens
SLACK_TOKEN = '<your-slack-api-token>'

BOT_EMOJI = ':robot_face:'
BOT_NAME = 'bp-cron'

# デバッグモードありでチャンネルを指定すると、すべてのメッセージがここに流れる
# DEBUG = True
# DEBUG_CHANNEL = '#bot-test'
