import os
import logging

# logging

logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

# Slack settings

# Create token https://api.slack.com/docs/oauth-test-tokens
SLACK_TOKEN = '<your-slack-api-token>'

BOT_EMOJI = ':robot_face:'
BOT_NAME = 'bp-cron'

# デバッグモードありでチャンネルを指定すると、すべてのメッセージがここに流れる
# DEBUG = True
# DEBUG_CHANNEL = '#bot-test'

# ユーザー情報の設定ファイル
here = os.path.dirname(__file__)
USER_CONFIG_PATH = os.path.join(here, "config", "user.ini")
